name: Build and Test

on: [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 11
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 11
          cache: maven
          server-id: github
          server-username: ${{ github.actor }}
          server-password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build with Maven
        run: mvn package

      - name: Run tests
        run: mvn test -B

      - name: Upload test results on failure
        if: failure()
        uses: actions/upload-artifact@v4  # Актуальная версия
        with:
          name: test-results
          path: |
            target/surefire-reports/
            target/site/coverage/  # Если используется JaCoCo
          retention-days: 7

